.btn {
  padding: 5px 10px;
}

.blue {
  background-color: #0071e3;
  opacity: 1;
  color: #fff !important;
  border-radius: 980px;
  transition: all 0.5s ease;
}
.blue:hover {
  color: #fff !important;
  background-color: #007efd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 17px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

.grid-1 {
  width: calc(8.3333333333% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-1 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-2 {
  width: calc(16.6666666667% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-2 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-3 {
  width: calc(25% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-3 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-4 {
  width: calc(33.3333333333% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-4 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-5 {
  width: calc(41.6666666667% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-5 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-6 {
  width: calc(50% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-6 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-7 {
  width: calc(58.3333333333% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-7 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-8 {
  width: calc(66.6666666667% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-8 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-9 {
  width: calc(75% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-9 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-10 {
  width: calc(83.3333333333% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-10 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-11 {
  width: calc(91.6666666667% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-11 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.grid-12 {
  width: calc(100% - 24px);
  margin: 12px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-12 {
    width: calc(100% - 24px);
    margin: 12px;
    float: none;
  }
}

.m-0 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: #0c0c0c;
  padding: 8px;
  width: 100%;
  height: 44px;
}

.nav-list-desktop ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list-desktop ul li {
  list-style: none;
}
.nav-list-desktop ul li a {
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 300;
  transition: color 0.5s ease;
}
.nav-list-desktop ul li a img {
  margin-top: 7px;
}
.nav-list-desktop ul li a:hover {
  color: #fff;
}

.nav-mobile {
  display: none;
}
.nav-mobile .logo {
  z-index: 900;
}

@media screen and (max-width: 960px) {
  .nav-list-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.hamburguer {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 900;
}
.hamburguer:after {
  content: "";
  position: absolute;
  top: 38%;
  left: 23%;
  width: 55%;
  height: 4%;
  background-color: #f5f5f7;
  transition: 1s ease;
}
.hamburguer:before {
  content: "";
  position: absolute;
  top: 63%;
  left: 23%;
  width: 55%;
  height: 4%;
  background-color: #f5f5f7;
  transition: 1s ease;
}

div.hamburguer.hamburguer-active {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 900;
}
div.hamburguer.hamburguer-active:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 23%;
  width: 55%;
  height: 4%;
  transform: rotate(225deg);
  background-color: #f5f5f7;
}
div.hamburguer.hamburguer-active:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 23%;
  width: 55%;
  height: 4%;
  transform: rotate(-405deg);
  background-color: #f5f5f7;
}

.nav-list-mobile {
  width: 100%;
  height: 0;
  opacity: 0.5;
  background-color: #0c0c0c;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 36px 24px;
  transition: 1s ease;
  position: fixed;
  top: -100%;
  z-index: 0;
}
.nav-list-mobile li {
  width: 100%;
  margin: 0 8px;
}
.nav-list-mobile li:first-child {
  border-bottom: 1px solid #333;
}
.nav-list-mobile li a {
  color: #f5f5f7;
  display: block;
  padding: 8px;
  font-size: 17px;
  opacity: 1;
  transition: all 0.5s ease;
  margin: 8px 16px;
  border-bottom: 1px solid #333;
}
.nav-list-mobile li a:hover {
  opacity: 0.7;
}
.nav-list-mobile li .last {
  border-bottom: 1px solid rgba(51, 51, 51, 0) !important;
}
.nav-list-mobile .search {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 0;
  padding: 0 10px;
  background-color: #1f1f1f;
  margin-bottom: 8px;
  outline: none;
  color: #f5f5f7;
}

.nav-list-mobile.active {
  top: 0;
  height: 100vh;
  opacity: 1;
}

.top-bar {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
  border-bottom: 1px solid #bfbfbf;
  width: 100%;
}
.top-bar .topModels {
  display: flex;
  justify-content: space-between;
}
.top-bar .topModels a {
  font-weight: 600;
  font-size: 22px;
  color: #0c0c0c;
  line-height: 20px;
}
.top-bar .topModels a span {
  color: #0c0c0c;
  opacity: 0.56;
  font-size: 13px;
  font-weight: 400;
}
.top-bar .topLink {
  text-align: right;
}
.top-bar .topLink ul {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 45px;
}
.top-bar .topLink ul li {
  list-style: none;
  margin: 0 10px;
}
.top-bar .topLink a {
  font-size: 13px;
}
.top-bar .topLink a:hover {
  color: #0071e3;
}
.top-bar .topLink .link-item {
  color: #0c0c0c;
  opacity: 0.56;
}
@media screen and (max-width: 960px) {
  .top-bar .topLink .link-item {
    display: none;
  }
}

.heroVideo {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.macbookInfo {
  text-align: center;
  color: #1d1d1f;
}
.macbookInfo h1 {
  font-size: 85px;
  margin-bottom: 16px;
}
@media screen and (max-width: 960px) {
  .macbookInfo h1 {
    font-size: 35px;
  }
}
.macbookInfo p {
  font-weight: 600;
  font-size: 30px;
  max-width: 850px;
  margin: 24px auto;
}
@media screen and (max-width: 960px) {
  .macbookInfo p {
    font-size: 20px;
  }
}
.macbookInfo .macbookInfoLinks {
  padding: 24px 0;
}
.macbookInfo .macbookInfoLinks a {
  font-size: 20px;
  margin-right: 30px;
  color: #06c;
  font-weight: 600;
}
.macbookInfo .macbookInfoLinks a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
