@import "_colors";
@import "_shadows";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    background-color: $branco;
    font-family: 'Source Sans Pro', sans-serif;
}

$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

// Mixin of media-queries
@mixin responsive($device) {
    @if $device == xl {
      // For resolutions upper 1440px
      @media screen and (min-width: $container-xl) {
        @content;
      }
    } @else if $device == l {
      // For resolutions between 1140px and 1440px
      @media screen and (max-width: $container-xl) and (min-width: $container-l) {
        @content;
      }
    } @else if $device == m {
      // For resolutions between 960px and 1140px
      @media screen and (max-width: $container-l) and (min-width: $container-s) {
        @content;
      }
    } @else if $device == s {
      // For resolutions less than 960px
      @media screen and (max-width: $container-m) {
        @content;
      }
    } @else if $device == xs {
      // For resolutions less than 540px
      @media screen and (max-width: $container-s) {
        @content;
      }
    }
  }

$container: 980px;
$gutter: 24px;

.container{
    max-width: $container;
    margin: 0 auto;
    //padding: 48px 16px;

    //border: 1px solid #555;

    // clearfix
    &::after{
      content: '';
      display: table;
      clear: both;
    }
}

@function grid($col, $total: 12){
    @return calc($col / $total) * 100%; 
}

@for $i from 1 through 12{
    .grid-#{$i}{
        width: calc(#{grid($i)} - #{$gutter});
        margin: calc($gutter / 2);
        height: 72px;
        float: left;

        @include responsive(s){
            width: calc(100% - #{$gutter});
            margin: calc($gutter / 2);
            float: none;
        }
    }
}

a{
  text-decoration: none;
}

header{
  background-color: $preto;
  padding: 8px;
  width: 100%;
  height: 44px;

  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li{
    list-style: none;
    a{
      color: $cinza-menu;
      font-size: 12px;
      font-weight: 300;
      transition: color .5s ease;

      img{
        margin-top: 7px;
      }

      &:hover{
        color: $branco;
      }
    }
  }
}

